.banner {
  height: 1350px;
  background-image: url(".png");
  display: flex;
  justify-content: center;
  position: relative;

  &__social-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    left: 80px;
    top: 18%;
    &-text {
      color: color(primary);
      transform: translate(-50%, -50%) rotate(90deg);
      margin-left: 10px;
      display: block;
    }
  }
  &__content {
    margin-top: 125px;
    &-supertext {
      color: color(secondary);
      display: flex;
      align-items: center;
      gap: 32px;
    }
    &-line {
      width: 72px;
      height: 2px;
      background-color: color(secondary);
    }
    &-text {
      letter-spacing: 6px;
    }
    &-title {
      color: color(primary);
      font-family: font-family(primary);
      font-size: font-size(title);
      line-height: 100px;
    }
  }
  &__scroll-text {
    color: color(primary);
  }
  @media (max-width: 768px) {
    &__content {
      padding: 1rem;

      &-title {
        text-align: center;
        font-size: 3rem;
        line-height: 50px;
      }
      &-supertext {
        justify-content: center;
      }
    }
    &__social-links {
      flex-direction: unset;

      left: unset;
      top: 25%;
      &-text {
        transform: unset;
      }
    }
    &__scroll-text {
      text-align: center;
    }
  }
}
