.card-wrap {
  display: flex;
  flex-direction: column;
  padding-left: 229px;
  padding-right: 229px;
  gap: 200px;
  opacity: 0px;
  background-color: #0b1d26;
}
.cards {
  display: flex;
  align-items: center;

  padding: 0;
  background-color: #0b1d26;
  border: 0;

  &__image {
    height: 500px;
    // width: 400px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    padding-left: 150px;
    display: flex;
    align-items: center;
    padding: 140px 150px;

    position: relative;
    color: color(primary);
    &-wraper {
      // width: 550px;
      display: flex;
      flex-direction: column;
    }
    &-supertext {
      color: color(secondary);
      display: flex;
      align-items: center;
      gap: 32px;
    }
    &-line {
      width: 72px;
      height: 2px;
      background-color: color(secondary);
    }
    &-text {
      letter-spacing: 6px;
      text-transform: uppercase;
    }
    &-number {
      font-size: font-size(number);
      font-weight: font-weight(bold);
      color: rgba(255, 255, 255, 0.1);
      position: absolute;
      top: 140px;
      left: 38px;
    }

    &__title {
      font-size: font-size(subtitle);
      font-weight: font-weight(semiBold);
      font-family: font-family(primary);
      margin-bottom: 1rem;
      min-width: 55px;
    }

    &__text {
      font-size: font-size(category);
      font-weight: font-weight(semiBold);
      font-family: font-family(secondary);
      line-height: 32px;
      margin-bottom: 1.5rem;
      min-width: 632px;
    }

    .cards__link {
      color: color(secondary);
      display: inline-block;
      font-size: font-size(category);
      font-weight: font-weight(semiBold);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    &__content {
      padding: 25px;
      &-number {
        left: 70px;
      }
    }
  }
  .card-wrap {
    padding: 0;
    gap: 0;
  }
}
