.footer {
  background-color: #0b1c2c;
  color: #fff;

  &__brand {
    display: flex;
    line-height: 32px;
    color: color(primary);
  }
  &__description {
    font-size: font-size(category);
    font-weight: font-weight(semiBold);
  }
  &__copyright {
    font-size: font-size(category);
    font-weight: font-weight(medium);
    a{
      color: color(primary);
    }
  }
&__content{
  &-subtitle{
    font-size: font-size(link);
    font-weight: font-weight(semiBold);
    color: color(secondary);
  }
  &-list{
    font-size: font-size(category);
      font-weight: font-weight(medium);
      color: color(primary);
      list-style: none;
      a{
        margin-bottom: 8px;

        color: color(primary);
      }

  }

}
  
}
