.footer {
  background-color: #0b1c2c;
  color: #fff;

  &__brand {
    display: flex;
    line-height: 32px;
    color: color(primary);

    .footer__description {
      font-size: font-size(category);
      font-weight: font-weight(semiBold);
    }
    .footer__copyright {
      font-size: font-size(category);
      font-weight: font-weight(medium);
      .footer__link {
        color: color(primary);
      }
    }
  }

  &__links {
    .footer__subtitle {
      font-size: font-size(link);
      font-weight: font-weight(semiBold);
      color: color(secondary);
    }
    .footer__list {
      font-size: font-size(category);
      font-weight: font-weight(medium);
      color: color(primary);
      list-style: none;

      &-item {
        margin-bottom: 8px;

        color: color(primary);
      }
    }
  }
}
